*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: ArminGrotesk, ArminGroteskBlack, ArminGroteskSemiBold, sans-serif;
  margin: 0;
}

.container {
  margin-inline: auto;
}

.main {
  display: grid;
  justify-content: center;
  padding-inline: 1.5rem;
  &__container {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  &__sidebar {
    width: 17.5rem;
  }
  &__main {
    margin-top: 4rem;
    margin-left: 4rem;
  }
}

.headline {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
  h2 {
    font-weight: 900;
    line-height: 1.1;
    font-size: 3rem;
    margin: 0;
  }
}
.subtext {
  margin-bottom: 1.5rem;
}
.card {
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  border-radius: 0.5rem;
  border: 0.0375rem solid #e5e5e6;
  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  p {
    color: #381fd1;
    font-family: "RobotoMono", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
  }
  &-collection {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    @media screen and (max-width: 1400px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
    }
  }
}

.imgcard {
  position: relative;
  &:nth-child(1) {
    background-color: #f6f6eb;
  }
  &:nth-child(2) {
    background-color: #f3f2fc;
  }
  &:nth-child(3) {
    background-color: #f6f6eb;
  }
  &-collection {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 4rem;
  }
  width: 16.25rem;
  height: 21.75rem;
  // padding: 32px;
  margin: 0;
  border: 0.0375rem solid transparent;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  img {
    z-index: 1;
  }
  &_img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_img2 {
    position: relative;
    top: 153px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    overflow-clip-margin: content-box;
  }
  h4 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.1;
    color: #10284b;
    z-index: 2;
    padding: 10px;
    top: 5%;
    left: 7%;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  line-height: 1.25rem;
  font-size: 0.875rem;
  background-color: #f6f6eb;
  padding: 1rem;
  color: #381fd1;
  p {
    margin: 0;
  }
  &_btn {
    display: flex;
    align-items: center;
  }
  button {
    background-color: #381fd1;
    color: #fff;
    svg {
      margin-left: 0.25rem;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 60rem;
  }

  &__menu-group {
    align-items: center;
    justify-content: space-between;
    border: 0.125rem;
    display: flex;
    padding-left: 0;
    margin-block: 0;
    list-style: none;
    gap: 1rem;
  }

  li:nth-child(6) {
    margin-left: 170px;
  }
}

.menu-group--left-button {
  border: 2px solid transparent;
  height: 2rem;
  line-height: 2rem;
  background-color: #381fd1;
  color: #fff;
  padding-inline: 8px;
  border-radius: 0.375rem;
  text-align: center;
}
.search {
  margin-top: 4rem;
}
.search-input {
  display: block;
  background-color: #fff;
  width: 17.5rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  border: 0.125rem solid #acacaf;
  margin-bottom: 1rem;
}

.Categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-right: 0.625rem;
  }
}

.text {
  font-weight: 37.5rem;
  font-size: 16px;
  color: #4b4b4e;
  padding-left: 1.25rem;
  padding-block: 1rem;
  margin: 0;
  &__button {
    margin-bottom: 0.5rem;
  }
  &-blue {
    color: #381fd1;
  }
}

.rounded-box {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #f3f2fc;
  margin-top: 1.5rem;
  h4 {
    font-size: 24px;
    margin: 0;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  &__button {
    background-color: #381fd1;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    border: 2px solid transparent;
    border-radius: 0.375rem;
    color: #fff;
    margin: 0;
  }
}

footer {
  background-color: #10284b;
  padding-inline: 1.5rem;
  margin-top: 6rem;
  width: 100%;
  bottom: 0px;
}

.category {
  display: grid;
  align-items: center;
  height: 100vh;
  height: 45.625rem;

  &__container {
    .category__content-grid {
      margin: 0 auto;
      max-width: 72.5rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
      .category__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        &:nth-child(n + 5) {
          grid-template-columns: repeat(1, 1fr);
        }
        p {
          margin-bottom: 0.5rem;
          margin-top: 0;
          // margin: 0;
          color: #fff;
        }
      }
    }
    .category__content-bottom {
      margin: 0 auto;
      max-width: 72.5rem;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
      color: #fedb63;
      padding-block: 5rem;
    }
  }

  .category__icons {
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
